[submodule "kitty"]
	path = kitty
	url = https://github.com/BrunoBMoura/kitty
[submodule "nvim"]
	path = nvim
	url = https://github.com/BrunoBMoura/nvim
[submodule "rofi"]
	path = rofi
	url = https://github.com/BrunoBMoura/rofi
[submodule "sxhkd"]
	path = sxhkd
	url = https://github.com/BrunoBMoura/sxhkd.git
